:root {
  --color-yellow-100: #FEF9C3;
  --color-yellow-200: #FEF08A;
  --color-yellow-300: #FDE047;
  --color-yellow-400: #FACC15;
  --color-yellow-500: #EAB308;
  --color-yellow-600: #CA8A04;
  --color-yellow-700: #A16207;
  --color-yellow-800: #854D0E;
  --color-yellow-900: #713F12;
  --color-yellow-1000: #422006;
  --color-orange-100: #FFEDD5;
  --color-orange-200: #FED7AA;
  --color-orange-300: #FDBA74;
  --color-orange-400: #FB923C;
  --color-orange-500: #F97316;
  --color-orange-600: #EA580C;
  --color-orange-700: #C2410C;
  --color-orange-800: #9A3412;
  --color-orange-900: #7C2D12;
  --color-orange-1000: #431407;
  --color-red-100: #FEE2E2;
  --color-red-200: #FECACA;
  --color-red-300: #FCA5A5;
  --color-red-400: #F87171;
  --color-red-500: #EF4444;
  --color-red-600: #DC2626;
  --color-red-700: #B91C1C;
  --color-red-800: #991B1B;
  --color-red-900: #7F1D1D;
  --color-red-1000: #450A0A;
  --color-blue-100: #DBEAFE;
  --color-blue-200: #BFDBFE;
  --color-blue-300: #93C5FD;
  --color-blue-400: #60A5FA;
  --color-blue-500: #3B82F6;
  --color-blue-600: #2563EB;
  --color-blue-700: #1D4ED8;
  --color-blue-800: #1E40AF;
  --color-blue-900: #1E3A8A;
  --color-blue-1000: #172554;
  --color-cyan-100: #E7F9FF;
  --color-cyan-200: #C6EDFB;
  --color-cyan-300: #9DD9EE;
  --color-cyan-400: #6CC3E0;
  --color-cyan-500: #42B2D7;
  --color-cyan-600: #2898BD;
  --color-cyan-700: #227D9B;
  --color-cyan-800: #206A83;
  --color-cyan-900: #164555;
  --color-cyan-1000: #1E3137;
  --color-lime-100: #ECFCCB;
  --color-lime-200: #D9F99D;
  --color-lime-300: #BEF264;
  --color-lime-400: #A3E635;
  --color-lime-500: #84CC16;
  --color-lime-600: #65A30D;
  --color-lime-700: #4D7C0F;
  --color-lime-800: #3F6212;
  --color-lime-900: #365314;
  --color-lime-1000: #1A2E05;
  --color-green-100: #DCFCE7;
  --color-green-200: #BBF7D0;
  --color-green-300: #86EFAC;
  --color-green-400: #4ADE80;
  --color-green-500: #22C55E;
  --color-green-600: #16A34A;
  --color-green-700: #15803D;
  --color-green-800: #166534;
  --color-green-900: #14532D;
  --color-green-1000: #052E16;
  --color-purple-100: #F3E8FF;
  --color-purple-200: #E9D5FF;
  --color-purple-300: #D8B4FE;
  --color-purple-400: #C084FC;
  --color-purple-500: #A855F7;
  --color-purple-600: #9333EA;
  --color-purple-700: #7E22CE;
  --color-purple-800: #6B21A8;
  --color-purple-900: #581C87;
  --color-purple-1000: #3B0764;
  --color-magenta-100: #FCE7F3;
  --color-magenta-200: #FBCFE8;
  --color-magenta-300: #F9A8D4;
  --color-magenta-400: #F472B6;
  --color-magenta-500: #EC4899;
  --color-magenta-600: #DB2777;
  --color-magenta-700: #BE185D;
  --color-magenta-800: #9D174D;
  --color-magenta-900: #831843;
  --color-magenta-1000: #500724;
  --color-neutral-0: #FFFFFF;
  --color-neutral-100: #F8F8F8;
  --color-neutral-200: #F0F1F2;
  --color-neutral-300: #DDDEE1;
  --color-neutral-400: #B7B9BE;
  --color-neutral-500: #8C8F97;
  --color-neutral-600: #7D818A;
  --color-neutral-700: #6B6E76;
  --color-neutral-800: #505258;
  --color-neutral-900: #3B3D42;
  --color-neutral-1000: #292A2E;
  --color-darkNeutral-0: #18191A;
  --color-darkNeutral-100: #1F1F21;
  --color-darkNeutral-200: #242528;
  --color-darkNeutral-300: #303134;
  --color-darkNeutral-400: #4B4D51;
  --color-darkNeutral-500: #63666B;
  --color-darkNeutral-600: #7E8188;
  --color-darkNeutral-700: #96999E;
  --color-darkNeutral-800: #A9ABAF;
  --color-darkNeutral-900: #BFC1C4;
  --color-darkNeutral-1000: #CECFD2;
  --color-primary-100: #DBEAFE;
  --color-primary-200: #BFDBFE;
  --color-primary-300: #93C5FD;
  --color-primary-400: #60A5FA;
  --color-primary-500: #3B82F6;
  --color-primary-600: #2563EB;
  --color-primary-700: #1D4ED8;
  --color-primary-800: #1E40AF;
  --color-primary-900: #1E3A8A;
  --color-primary-1000: #172554;
  --color-secondary-100: #FEE2E2;
  --color-secondary-200: #FECACA;
  --color-secondary-300: #FCA5A5;
  --color-secondary-400: #F87171;
  --color-secondary-500: #EF4444;
  --color-secondary-600: #DC2626;
  --color-secondary-700: #B91C1C;
  --color-secondary-800: #991B1B;
  --color-secondary-900: #7F1D1D;
  --color-secondary-1000: #450A0A;
  --color-tertiary-100: #E7F9FF;
  --color-tertiary-200: #C6EDFB;
  --color-tertiary-300: #9DD9EE;
  --color-tertiary-400: #6CC3E0;
  --color-tertiary-500: #42B2D7;
  --color-tertiary-600: #2898BD;
  --color-tertiary-700: #227D9B;
  --color-tertiary-800: #206A83;
  --color-tertiary-900: #164555;
  --color-tertiary-1000: #1E3137;
  --color-information-100: #DBEAFE;
  --color-information-200: #BFDBFE;
  --color-information-300: #93C5FD;
  --color-information-400: #60A5FA;
  --color-information-500: #3B82F6;
  --color-information-600: #2563EB;
  --color-information-700: #1D4ED8;
  --color-information-800: #1E40AF;
  --color-information-900: #1E3A8A;
  --color-information-1000: #172554;
  --color-success-100: #DCFCE7;
  --color-success-200: #BBF7D0;
  --color-success-300: #86EFAC;
  --color-success-400: #4ADE80;
  --color-success-500: #22C55E;
  --color-success-600: #16A34A;
  --color-success-700: #15803D;
  --color-success-800: #166534;
  --color-success-900: #14532D;
  --color-success-1000: #052E16;
  --color-warning-100: #FEF9C3;
  --color-warning-200: #FEF08A;
  --color-warning-300: #FDE047;
  --color-warning-400: #FACC15;
  --color-warning-500: #EAB308;
  --color-warning-600: #CA8A04;
  --color-warning-700: #A16207;
  --color-warning-800: #854D0E;
  --color-warning-900: #713F12;
  --color-warning-1000: #422006;
  --color-danger-100: #FEE2E2;
  --color-danger-200: #FECACA;
  --color-danger-300: #FCA5A5;
  --color-danger-400: #F87171;
  --color-danger-500: #EF4444;
  --color-danger-600: #DC2626;
  --color-danger-700: #B91C1C;
  --color-danger-800: #991B1B;
  --color-danger-900: #7F1D1D;
  --color-danger-1000: #450A0A;
  --color-discovery-100: #F3E8FF;
  --color-discovery-200: #E9D5FF;
  --color-discovery-300: #D8B4FE;
  --color-discovery-400: #C084FC;
  --color-discovery-500: #A855F7;
  --color-discovery-600: #9333EA;
  --color-discovery-700: #7E22CE;
  --color-discovery-800: #6B21A8;
  --color-discovery-900: #581C87;
  --color-discovery-1000: #3B0764;
  --color-neutralAlpha-100A: #17171708;
  --color-neutralAlpha-200A: #0515240F;
  --color-neutralAlpha-300A: #0B120E24;
  --color-neutralAlpha-400A: #080F214A;
  --color-neutralAlpha-500A: #050C1F75;
  --color-darkNeutralAlpha-100A: #BDBDBD0A;
  --color-darkNeutralAlpha-200A: #CECED912;
  --color-darkNeutralAlpha-300A: #E3E4F21F;
  --color-darkNeutralAlpha-400A: #E5E9F640;
  --color-darkNeutralAlpha-500A: #E9F0FB5C;
  --spacing-0: 0px;
  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-68: 68px;
  --spacing-72: 72px;
  --spacing-76: 76px;
  --spacing-80: 80px;
  --spacing-88: 88px;
  --spacing-96: 96px;
  --spacing-112: 112px;
  --spacing-120: 120px;
  --dimension-0: 0px;
  --dimension-2: 2px;
  --dimension-4: 4px;
  --dimension-6: 6px;
  --dimension-8: 8px;
  --dimension-10: 10px;
  --dimension-12: 12px;
  --dimension-14: 14px;
  --dimension-16: 16px;
  --dimension-18: 18px;
  --dimension-20: 20px;
  --dimension-22: 22px;
  --dimension-24: 24px;
  --dimension-26: 26px;
  --dimension-28: 28px;
  --dimension-30: 30px;
  --dimension-32: 32px;
  --dimension-34: 34px;
  --dimension-36: 36px;
  --dimension-38: 38px;
  --dimension-40: 40px;
  --dimension-44: 44px;
  --dimension-48: 48px;
  --dimension-52: 52px;
  --dimension-56: 56px;
  --dimension-60: 60px;
  --dimension-64: 64px;
  --dimension-72: 72px;
  --dimension-80: 80px;
  --dimension-96: 96px;
  --dimension-128: 128px;
  --dimension-160: 160px;
  --dimension-192: 192px;
  --dimension-256: 256px;
  --dimension-320: 320px;
  --dimension-384: 384px;
  --dimension-448: 448px;
  --dimension-512: 512px;
  --dimension-999: 999px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;
  --text-9xl: 128px;
  --leading-12: 12px;
  --leading-14: 14px;
  --leading-16: 16px;
  --leading-18: 18px;
  --leading-20: 20px;
  --leading-22: 22px;
  --leading-24: 24px;
  --leading-28: 28px;
  --leading-32: 32px;
  --leading-36: 36px;
  --leading-40: 40px;
  --leading-48: 48px;
  --rounded-none: 0px;
  --rounded-xs: 2px;
  --rounded-sm: 4px;
  --rounded-md: 6px;
  --rounded-lg: 8px;
  --rounded-xl: 12px;
  --rounded-2xl: 16px;
  --rounded-3xl: 24px;
  --rounded-4xl: 32px;
  --rounded-full: 999px;
  --heading-xxl: 700 36px/36px Roboto;
  --heading-xl: 700 30px/32px Roboto;
  --heading-lg: 600 24px/32px Roboto;
  --heading-md: 600 20px/28px Roboto;
  --body-lg: 400 18px/28px Roboto;
  --body-md: 400 16px/24px Roboto;
  --body-sm: 400 14px/20px Roboto;
  --body-xs: 400 12px/16px Roboto;
  --color-text-neutral: #292A2E;
  --color-text-neutral-subtle: #3B3D42;
  --color-text-neutral-subtler: #505258;
  --color-text-neutral-subtlest: #6B6E76;
  --color-text-brand: #1D4ED8;
  --color-text-information: #1E40AF;
  --color-text-success: #166534;
  --color-text-warning: #854D0E;
  --color-text-warning-inverse: #292A2E;
  --color-text-danger: #991B1B;
  --color-text-discovery: #6B21A8;
  --color-text-inverse: #FFFFFF;
  --color-text-disabled: #080F214A;
  --color-text-selected: #1D4ED8;
  --color-text-accent-red: #450A0A;
  --color-text-accent-red-subtle: #7F1D1D;
  --color-text-accent-red-subtler: #991B1B;
  --color-text-accent-red-subtlest: #B91C1C;
  --color-text-accent-orange: #431407;
  --color-text-accent-orange-subtle: #7C2D12;
  --color-text-accent-orange-subtler: #9A3412;
  --color-text-accent-orange-subtlest: #C2410C;
  --color-text-accent-yellow: #422006;
  --color-text-accent-yellow-subtle: #713F12;
  --color-text-accent-yellow-subtler: #854D0E;
  --color-text-accent-yellow-subtlest: #A16207;
  --color-text-accent-lime: #1A2E05;
  --color-text-accent-lime-subtle: #365314;
  --color-text-accent-lime-subtler: #3F6212;
  --color-text-accent-lime-subtlest: #4D7C0F;
  --color-text-accent-green: #052E16;
  --color-text-accent-green-subtle: #14532D;
  --color-text-accent-green-subtler: #166534;
  --color-text-accent-green-subtlest: #15803D;
  --color-text-accent-cyan: #1E3137;
  --color-text-accent-cyan-subtle: #164555;
  --color-text-accent-cyan-subtler: #206A83;
  --color-text-accent-cyan-subtlest: #227D9B;
  --color-text-accent-blue: #172554;
  --color-text-accent-blue-subtle: #1E3A8A;
  --color-text-accent-blue-subtler: #1E40AF;
  --color-text-accent-blue-subtlest: #1D4ED8;
  --color-text-accent-purple: #3B0764;
  --color-text-accent-purple-subtle: #581C87;
  --color-text-accent-purple-subtler: #6B21A8;
  --color-text-accent-purple-subtlest: #7E22CE;
  --color-text-accent-magenta: #500724;
  --color-text-accent-magenta-subtle: #831843;
  --color-text-accent-magenta-subtler: #9D174D;
  --color-text-accent-magenta-subtlest: #BE185D;
  --color-text-accent-gray: #292A2E;
  --color-text-accent-gray-subtle: #3B3D42;
  --color-text-accent-gray-subtler: #505258;
  --color-text-accent-gray-subtlest: #6B6E76;
  --color-icon-neutral: #292A2E;
  --color-icon-neutral-subtle: #3B3D42;
  --color-icon-neutral-subtler: #505258;
  --color-icon-neutral-subtlest: #6B6E76;
  --color-icon-brand: #1D4ED8;
  --color-icon-information: #1E40AF;
  --color-icon-success: #166534;
  --color-icon-warning: #854D0E;
  --color-icon-warning-inverse: #292A2E;
  --color-icon-danger: #991B1B;
  --color-icon-discovery: #6B21A8;
  --color-icon-inverse: #FFFFFF;
  --color-icon-disabled: #080F214A;
  --color-icon-selected: #1D4ED8;
  --color-icon-accent-red: #DC2626;
  --color-icon-accent-orange: #EA580C;
  --color-icon-accent-yellow: #CA8A04;
  --color-icon-accent-lime: #65A30D;
  --color-icon-accent-green: #16A34A;
  --color-icon-accent-cyan: #2898BD;
  --color-icon-accent-blue: #2563EB;
  --color-icon-accent-purple: #9333EA;
  --color-icon-accent-magenta: #DB2777;
  --color-icon-accent-gray: #7D818A;
  --color-link-default: #1D4ED8;
  --color-link-default-pressed: #1E40AF;
  --color-link-visited: #6B21A8;
  --color-link-visited-pressed: #581C87;
  --color-border-neutral: #0B120E24;
  --color-border-neutral-bold: #7D818A;
  --color-border-brand: #2563EB;
  --color-border-information: #2563EB;
  --color-border-success: #16A34A;
  --color-border-warning: #CA8A04;
  --color-border-danger: #DC2626;
  --color-border-discovery: #9333EA;
  --color-border-inverse: #FFFFFF;
  --color-border-disabled: #0515240F;
  --color-border-selected: #1D4ED8;
  --color-border-accent-red: #DC2626;
  --color-border-accent-orange: #EA580C;
  --color-border-accent-yellow: #CA8A04;
  --color-border-accent-lime: #65A30D;
  --color-border-accent-green: #16A34A;
  --color-border-accent-cyan: #2898BD;
  --color-border-accent-blue: #2563EB;
  --color-border-accent-purple: #9333EA;
  --color-border-accent-magenta: #DB2777;
  --color-border-accent-gray: #7D818A;
  --color-elevation-surface-sunken: #F8F8F8;
  --color-elevation-surface-default: #FFFFFF;
  --color-elevation-surface-raised: #FFFFFF;
  --color-elevation-surface-overlay: #FFFFFF;
  --color-elevation-shadow-default: #17171708;
  --color-elevation-shadow-raised: #0515240F;
  --color-elevation-shadow-overlay: #0B120E24;
  --color-background-neutral-default: #0515240F;
  --color-background-neutral-default-hovered: #0B120E24;
  --color-background-neutral-default-pressed: #080F214A;
  --color-background-neutral-subtle: transparent;
  --color-background-neutral-subtle-hovered: #0515240F;
  --color-background-neutral-subtle-pressed: #0B120E24;
  --color-background-neutral-boldest: #292A2E;
  --color-background-neutral-boldest-hovered: #3B3D42;
  --color-background-neutral-boldest-pressed: #505258;
  --color-background-brand-subtlest: #DBEAFE;
  --color-background-brand-subtlest-hovered: #BFDBFE;
  --color-background-brand-subtlest-pressed: #93C5FD;
  --color-background-brand-bold: #1D4ED8;
  --color-background-brand-bold-hovered: #1E40AF;
  --color-background-brand-bold-pressed: #1E3A8A;
  --color-background-brand-boldest: #172554;
  --color-background-brand-boldest-hovered: #1E3A8A;
  --color-background-brand-boldest-pressed: #1E40AF;
  --color-background-information-subtlest: #DBEAFE;
  --color-background-information-subtlest-hovered: #BFDBFE;
  --color-background-information-subtlest-pressed: #93C5FD;
  --color-background-information-bold: #1D4ED8;
  --color-background-information-bold-hovered: #1E40AF;
  --color-background-information-bold-pressed: #1E3A8A;
  --color-background-success-subtlest: #DCFCE7;
  --color-background-success-subtlest-hovered: #BBF7D0;
  --color-background-success-subtlest-pressed: #86EFAC;
  --color-background-success-bold: #15803D;
  --color-background-success-bold-hovered: #166534;
  --color-background-success-bold-pressed: #14532D;
  --color-background-warning-subtlest: #FEF9C3;
  --color-background-warning-subtlest-hovered: #FEF08A;
  --color-background-warning-subtlest-pressed: #FDE047;
  --color-background-warning-subtler: #FDE047;
  --color-background-warning-subtler-hovered: #FACC15;
  --color-background-warning-subtler-pressed: #EAB308;
  --color-background-warning-bold: #A16207;
  --color-background-warning-bold-hovered: #854D0E;
  --color-background-warning-bold-pressed: #713F12;
  --color-background-danger-subtlest: #FEE2E2;
  --color-background-danger-subtlest-hovered: #FECACA;
  --color-background-danger-subtlest-pressed: #FCA5A5;
  --color-background-danger-bold: #B91C1C;
  --color-background-danger-bold-hovered: #991B1B;
  --color-background-danger-bold-pressed: #7F1D1D;
  --color-background-discovery-subtlest: #F3E8FF;
  --color-background-discovery-subtlest-hovered: #E9D5FF;
  --color-background-discovery-subtlest-pressed: #D8B4FE;
  --color-background-discovery-bold: #7E22CE;
  --color-background-discovery-bold-hovered: #6B21A8;
  --color-background-discovery-bold-pressed: #581C87;
  --color-background-selected-subtlest: #DBEAFE;
  --color-background-selected-subtlest-hovered: #BFDBFE;
  --color-background-selected-subtlest-pressed: #93C5FD;
  --color-background-selected-bold: #1D4ED8;
  --color-background-selected-bold-hovered: #1E40AF;
  --color-background-selected-bold-pressed: #1E3A8A;
  --color-background-input: #FFFFFF;
  --color-background-input-hovered: #F8F8F8;
  --color-background-input-pressed: #FFFFFF;
  --color-background-disabled: #17171708;
  --color-background-accent-red-default: #EF4444;
  --color-background-accent-red-default-hovered: #DC2626;
  --color-background-accent-red-default-pressed: #B91C1C;
  --color-background-accent-red-subtlest: #FEE2E2;
  --color-background-accent-red-subtlest-hovered: #FECACA;
  --color-background-accent-red-subtlest-pressed: #FCA5A5;
  --color-background-accent-red-subtler: #FECACA;
  --color-background-accent-red-subtler-hovered: #FCA5A5;
  --color-background-accent-red-subtler-pressed: #F87171;
  --color-background-accent-red-subtle: #F87171;
  --color-background-accent-red-subtle-hovered: #EF4444;
  --color-background-accent-red-subtle-pressed: #DC2626;
  --color-background-accent-red-bold: #B91C1C;
  --color-background-accent-red-bold-hovered: #991B1B;
  --color-background-accent-red-bold-pressed: #7F1D1D;
  --color-background-accent-orange-default: #F97316;
  --color-background-accent-orange-default-hovered: #EA580C;
  --color-background-accent-orange-default-pressed: #C2410C;
  --color-background-accent-orange-subtlest: #FFEDD5;
  --color-background-accent-orange-subtlest-hovered: #FED7AA;
  --color-background-accent-orange-subtlest-pressed: #FDBA74;
  --color-background-accent-orange-subtler: #FED7AA;
  --color-background-accent-orange-subtler-hovered: #FDBA74;
  --color-background-accent-orange-subtler-pressed: #FB923C;
  --color-background-accent-orange-subtle: #FB923C;
  --color-background-accent-orange-subtle-hovered: #F97316;
  --color-background-accent-orange-subtle-pressed: #EA580C;
  --color-background-accent-orange-bold: #C2410C;
  --color-background-accent-orange-bold-hovered: #9A3412;
  --color-background-accent-orange-bold-pressed: #7C2D12;
  --color-background-accent-yellow-default: #EAB308;
  --color-background-accent-yellow-default-hovered: #CA8A04;
  --color-background-accent-yellow-default-pressed: #A16207;
  --color-background-accent-yellow-subtlest: #FEF9C3;
  --color-background-accent-yellow-subtlest-hovered: #FEF08A;
  --color-background-accent-yellow-subtlest-pressed: #FDE047;
  --color-background-accent-yellow-subtler: #FEF08A;
  --color-background-accent-yellow-subtler-hovered: #FDE047;
  --color-background-accent-yellow-subtler-pressed: #FACC15;
  --color-background-accent-yellow-subtle: #FACC15;
  --color-background-accent-yellow-subtle-hovered: #EAB308;
  --color-background-accent-yellow-subtle-pressed: #CA8A04;
  --color-background-accent-yellow-bold: #A16207;
  --color-background-accent-yellow-bold-hovered: #854D0E;
  --color-background-accent-yellow-bold-pressed: #713F12;
  --color-background-accent-lime-default: #84CC16;
  --color-background-accent-lime-default-hovered: #65A30D;
  --color-background-accent-lime-default-pressed: #4D7C0F;
  --color-background-accent-lime-subtlest: #ECFCCB;
  --color-background-accent-lime-subtlest-hovered: #D9F99D;
  --color-background-accent-lime-subtlest-pressed: #BEF264;
  --color-background-accent-lime-subtler: #D9F99D;
  --color-background-accent-lime-subtler-hovered: #BEF264;
  --color-background-accent-lime-subtler-pressed: #A3E635;
  --color-background-accent-lime-subtle: #A3E635;
  --color-background-accent-lime-subtle-hovered: #84CC16;
  --color-background-accent-lime-subtle-pressed: #65A30D;
  --color-background-accent-lime-bold: #4D7C0F;
  --color-background-accent-lime-bold-hovered: #3F6212;
  --color-background-accent-lime-bold-pressed: #365314;
  --color-background-accent-green-default: #22C55E;
  --color-background-accent-green-default-hovered: #16A34A;
  --color-background-accent-green-default-pressed: #15803D;
  --color-background-accent-green-subtlest: #DCFCE7;
  --color-background-accent-green-subtlest-hovered: #BBF7D0;
  --color-background-accent-green-subtlest-pressed: #86EFAC;
  --color-background-accent-green-subtler: #BBF7D0;
  --color-background-accent-green-subtler-hovered: #86EFAC;
  --color-background-accent-green-subtler-pressed: #4ADE80;
  --color-background-accent-green-subtle: #4ADE80;
  --color-background-accent-green-subtle-hovered: #22C55E;
  --color-background-accent-green-subtle-pressed: #16A34A;
  --color-background-accent-green-bold: #15803D;
  --color-background-accent-green-bold-hovered: #166534;
  --color-background-accent-green-bold-pressed: #14532D;
  --color-background-accent-cyan-default: #42B2D7;
  --color-background-accent-cyan-default-hovered: #2898BD;
  --color-background-accent-cyan-default-pressed: #227D9B;
  --color-background-accent-cyan-subtlest: #E7F9FF;
  --color-background-accent-cyan-subtlest-hovered: #C6EDFB;
  --color-background-accent-cyan-subtlest-pressed: #9DD9EE;
  --color-background-accent-cyan-subtler: #C6EDFB;
  --color-background-accent-cyan-subtler-hovered: #9DD9EE;
  --color-background-accent-cyan-subtler-pressed: #6CC3E0;
  --color-background-accent-cyan-subtle: #6CC3E0;
  --color-background-accent-cyan-subtle-hovered: #42B2D7;
  --color-background-accent-cyan-subtle-pressed: #2898BD;
  --color-background-accent-cyan-bold: #227D9B;
  --color-background-accent-cyan-bold-hovered: #206A83;
  --color-background-accent-cyan-bold-pressed: #164555;
  --color-background-accent-blue-default: #3B82F6;
  --color-background-accent-blue-default-hovered: #2563EB;
  --color-background-accent-blue-default-pressed: #1D4ED8;
  --color-background-accent-blue-subtlest: #DBEAFE;
  --color-background-accent-blue-subtlest-hovered: #BFDBFE;
  --color-background-accent-blue-subtlest-pressed: #93C5FD;
  --color-background-accent-blue-subtler: #BFDBFE;
  --color-background-accent-blue-subtler-hovered: #93C5FD;
  --color-background-accent-blue-subtler-pressed: #60A5FA;
  --color-background-accent-blue-subtle: #60A5FA;
  --color-background-accent-blue-subtle-hovered: #3B82F6;
  --color-background-accent-blue-subtle-pressed: #2563EB;
  --color-background-accent-blue-bold: #1D4ED8;
  --color-background-accent-blue-bold-hovered: #1E40AF;
  --color-background-accent-blue-bold-pressed: #1E3A8A;
  --color-background-accent-purple-default: #A855F7;
  --color-background-accent-purple-default-hovered: #9333EA;
  --color-background-accent-purple-default-pressed: #7E22CE;
  --color-background-accent-purple-subtlest: #F3E8FF;
  --color-background-accent-purple-subtlest-hovered: #E9D5FF;
  --color-background-accent-purple-subtlest-pressed: #D8B4FE;
  --color-background-accent-purple-subtler: #E9D5FF;
  --color-background-accent-purple-subtler-hovered: #D8B4FE;
  --color-background-accent-purple-subtler-pressed: #C084FC;
  --color-background-accent-purple-subtle: #C084FC;
  --color-background-accent-purple-subtle-hovered: #A855F7;
  --color-background-accent-purple-subtle-pressed: #9333EA;
  --color-background-accent-purple-bold: #7E22CE;
  --color-background-accent-purple-bold-hovered: #6B21A8;
  --color-background-accent-purple-bold-pressed: #581C87;
  --color-background-accent-magenta-default: #EC4899;
  --color-background-accent-magenta-default-hovered: #DB2777;
  --color-background-accent-magenta-default-pressed: #BE185D;
  --color-background-accent-magenta-subtlest: #FCE7F3;
  --color-background-accent-magenta-subtlest-hovered: #FBCFE8;
  --color-background-accent-magenta-subtlest-pressed: #F9A8D4;
  --color-background-accent-magenta-subtler: #FBCFE8;
  --color-background-accent-magenta-subtler-hovered: #F9A8D4;
  --color-background-accent-magenta-subtler-pressed: #F472B6;
  --color-background-accent-magenta-subtle: #F472B6;
  --color-background-accent-magenta-subtle-hovered: #EC4899;
  --color-background-accent-magenta-subtle-pressed: #DB2777;
  --color-background-accent-magenta-bold: #BE185D;
  --color-background-accent-magenta-bold-hovered: #9D174D;
  --color-background-accent-magenta-bold-pressed: #831843;
  --color-background-accent-gray-default: #8C8F97;
  --color-background-accent-gray-default-hovered: #7D818A;
  --color-background-accent-gray-default-pressed: #6B6E76;
  --color-background-accent-gray-subtlest: #F8F8F8;
  --color-background-accent-gray-subtlest-hovered: #F0F1F2;
  --color-background-accent-gray-subtlest-pressed: #DDDEE1;
  --color-background-accent-gray-subtler: #F0F1F2;
  --color-background-accent-gray-subtler-hovered: #DDDEE1;
  --color-background-accent-gray-subtler-pressed: #B7B9BE;
  --color-background-accent-gray-subtle: #B7B9BE;
  --color-background-accent-gray-subtle-hovered: #8C8F97;
  --color-background-accent-gray-subtle-pressed: #7D818A;
  --color-background-accent-gray-bold: #6B6E76;
  --color-background-accent-gray-bold-hovered: #505258;
  --color-background-accent-gray-bold-pressed: #3B3D42;
  --p-0: 0px;
  --p-px: 1px;
  --p-0-5: 2px;
  --p-1: 4px;
  --p-1-5: 6px;
  --p-2: 8px;
  --p-3: 12px;
  --p-4: 16px;
  --p-5: 20px;
  --p-6: 24px;
  --p-7: 28px;
  --p-8: 32px;
  --p-9: 36px;
  --p-10: 40px;
  --p-11: 44px;
  --p-12: 48px;
  --p-13: 52px;
  --p-14: 56px;
  --p-15: 60px;
  --p-16: 64px;
  --p-17: 68px;
  --p-18: 72px;
  --p-19: 76px;
  --p-20: 80px;
  --p-22: 88px;
  --p-24: 96px;
  --p-28: 112px;
  --p-30: 120px;
  --m-0: 0px;
  --m-px: 1px;
  --m-0-5: 2px;
  --m-1: 4px;
  --m-1-5: 6px;
  --m-2: 8px;
  --m-3: 12px;
  --m-4: 16px;
  --m-5: 20px;
  --m-6: 24px;
  --m-7: 28px;
  --m-8: 32px;
  --m-9: 36px;
  --m-10: 40px;
  --m-11: 44px;
  --m-12: 48px;
  --m-13: 52px;
  --m-14: 56px;
  --m-15: 60px;
  --m-16: 64px;
  --m-17: 68px;
  --m-18: 72px;
  --m-19: 76px;
  --m-20: 80px;
  --m-22: 88px;
  --m-24: 96px;
  --m-28: 112px;
  --m-30: 120px;
}

.dark {
  --color-text-neutral: #CECFD2;
  --color-text-neutral-subtle: #BFC1C4;
  --color-text-neutral-subtler: #A9ABAF;
  --color-text-neutral-subtlest: #96999E;
  --color-text-brand: #60A5FA;
  --color-text-information: #93C5FD;
  --color-text-success: #86EFAC;
  --color-text-warning: #FDE047;
  --color-text-warning-inverse: #1F1F21;
  --color-text-danger: #FCA5A5;
  --color-text-discovery: #D8B4FE;
  --color-text-inverse: #1F1F21;
  --color-text-disabled: #E5E9F640;
  --color-text-selected: #60A5FA;
  --color-text-accent-red: #FEE2E2;
  --color-text-accent-red-subtle: #FECACA;
  --color-text-accent-red-subtler: #FCA5A5;
  --color-text-accent-red-subtlest: #F87171;
  --color-text-accent-orange: #FFEDD5;
  --color-text-accent-orange-subtle: #FED7AA;
  --color-text-accent-orange-subtler: #FDBA74;
  --color-text-accent-orange-subtlest: #FB923C;
  --color-text-accent-yellow: #FEF9C3;
  --color-text-accent-yellow-subtle: #FEF08A;
  --color-text-accent-yellow-subtler: #FDE047;
  --color-text-accent-yellow-subtlest: #FACC15;
  --color-text-accent-lime: #ECFCCB;
  --color-text-accent-lime-subtle: #D9F99D;
  --color-text-accent-lime-subtler: #BEF264;
  --color-text-accent-lime-subtlest: #A3E635;
  --color-text-accent-green: #DCFCE7;
  --color-text-accent-green-subtle: #BBF7D0;
  --color-text-accent-green-subtler: #86EFAC;
  --color-text-accent-green-subtlest: #4ADE80;
  --color-text-accent-cyan: #E7F9FF;
  --color-text-accent-cyan-subtle: #C6EDFB;
  --color-text-accent-cyan-subtler: #9DD9EE;
  --color-text-accent-cyan-subtlest: #6CC3E0;
  --color-text-accent-blue: #DBEAFE;
  --color-text-accent-blue-subtle: #BFDBFE;
  --color-text-accent-blue-subtler: #93C5FD;
  --color-text-accent-blue-subtlest: #60A5FA;
  --color-text-accent-purple: #F3E8FF;
  --color-text-accent-purple-subtle: #E9D5FF;
  --color-text-accent-purple-subtler: #D8B4FE;
  --color-text-accent-purple-subtlest: #C084FC;
  --color-text-accent-magenta: #FCE7F3;
  --color-text-accent-magenta-subtle: #FBCFE8;
  --color-text-accent-magenta-subtler: #F9A8D4;
  --color-text-accent-magenta-subtlest: #F472B6;
  --color-text-accent-gray: #CECFD2;
  --color-text-accent-gray-subtle: #BFC1C4;
  --color-text-accent-gray-subtler: #A9ABAF;
  --color-text-accent-gray-subtlest: #96999E;
  --color-icon-neutral: #CECFD2;
  --color-icon-neutral-subtle: #BFC1C4;
  --color-icon-neutral-subtler: #A9ABAF;
  --color-icon-neutral-subtlest: #96999E;
  --color-icon-brand: #60A5FA;
  --color-icon-information: #93C5FD;
  --color-icon-success: #86EFAC;
  --color-icon-warning: #FDE047;
  --color-icon-warning-inverse: #1F1F21;
  --color-icon-danger: #FCA5A5;
  --color-icon-discovery: #D8B4FE;
  --color-icon-inverse: #1F1F21;
  --color-icon-disabled: #E5E9F640;
  --color-icon-selected: #60A5FA;
  --color-icon-accent-red: #EF4444;
  --color-icon-accent-orange: #F97316;
  --color-icon-accent-yellow: #EAB308;
  --color-icon-accent-lime: #84CC16;
  --color-icon-accent-green: #22C55E;
  --color-icon-accent-cyan: #42B2D7;
  --color-icon-accent-blue: #3B82F6;
  --color-icon-accent-purple: #A855F7;
  --color-icon-accent-magenta: #EC4899;
  --color-icon-accent-gray: #7E8188;
  --color-link-default: #60A5FA;
  --color-link-default-pressed: #93C5FD;
  --color-link-visited: #D8B4FE;
  --color-link-visited-pressed: #E9D5FF;
  --color-border-neutral: #E3E4F21F;
  --color-border-neutral-bold: #7E8188;
  --color-border-brand: #3B82F6;
  --color-border-information: #3B82F6;
  --color-border-success: #22C55E;
  --color-border-warning: #EAB308;
  --color-border-danger: #EF4444;
  --color-border-discovery: #A855F7;
  --color-border-inverse: #1F1F21;
  --color-border-disabled: #CECED912;
  --color-border-selected: #60A5FA;
  --color-border-accent-red: #EF4444;
  --color-border-accent-orange: #F97316;
  --color-border-accent-yellow: #EAB308;
  --color-border-accent-lime: #84CC16;
  --color-border-accent-green: #22C55E;
  --color-border-accent-cyan: #42B2D7;
  --color-border-accent-blue: #3B82F6;
  --color-border-accent-purple: #A855F7;
  --color-border-accent-magenta: #EC4899;
  --color-border-accent-gray: #7E8188;
  --color-elevation-surface-sunken: #18191A;
  --color-elevation-surface-default: #1F1F21;
  --color-elevation-surface-raised: #242528;
  --color-elevation-surface-overlay: #242528;
  --color-elevation-shadow-default: #0B120E24;
  --color-elevation-shadow-raised: #080F214A;
  --color-elevation-shadow-overlay: #050C1F75;
  --color-background-neutral-default: #CECED912;
  --color-background-neutral-default-hovered: #E3E4F21F;
  --color-background-neutral-default-pressed: #E5E9F640;
  --color-background-neutral-subtle: transparent;
  --color-background-neutral-subtle-hovered: #CECED912;
  --color-background-neutral-subtle-pressed: #E3E4F21F;
  --color-background-neutral-boldest: #1F1F21;
  --color-background-neutral-boldest-hovered: #242528;
  --color-background-neutral-boldest-pressed: #303134;
  --color-background-brand-subtlest: #172554;
  --color-background-brand-subtlest-hovered: #1E3A8A;
  --color-background-brand-subtlest-pressed: #1E40AF;
  --color-background-brand-bold: #60A5FA;
  --color-background-brand-bold-hovered: #93C5FD;
  --color-background-brand-bold-pressed: #BFDBFE;
  --color-background-brand-boldest: #DBEAFE;
  --color-background-brand-boldest-hovered: #BFDBFE;
  --color-background-brand-boldest-pressed: #93C5FD;
  --color-background-information-subtlest: #172554;
  --color-background-information-subtlest-hovered: #1E3A8A;
  --color-background-information-subtlest-pressed: #1E40AF;
  --color-background-information-bold: #60A5FA;
  --color-background-information-bold-hovered: #93C5FD;
  --color-background-information-bold-pressed: #BFDBFE;
  --color-background-success-subtlest: #052E16;
  --color-background-success-subtlest-hovered: #14532D;
  --color-background-success-subtlest-pressed: #166534;
  --color-background-success-bold: #4ADE80;
  --color-background-success-bold-hovered: #86EFAC;
  --color-background-success-bold-pressed: #BBF7D0;
  --color-background-warning-subtlest: #422006;
  --color-background-warning-subtlest-hovered: #713F12;
  --color-background-warning-subtlest-pressed: #854D0E;
  --color-background-warning-subtler: #854D0E;
  --color-background-warning-subtler-hovered: #A16207;
  --color-background-warning-subtler-pressed: #CA8A04;
  --color-background-warning-bold: #FACC15;
  --color-background-warning-bold-hovered: #FDE047;
  --color-background-warning-bold-pressed: #FEF08A;
  --color-background-danger-subtlest: #450A0A;
  --color-background-danger-subtlest-hovered: #7F1D1D;
  --color-background-danger-subtlest-pressed: #991B1B;
  --color-background-danger-bold: #F87171;
  --color-background-danger-bold-hovered: #FCA5A5;
  --color-background-danger-bold-pressed: #FECACA;
  --color-background-discovery-subtlest: #3B0764;
  --color-background-discovery-subtlest-hovered: #581C87;
  --color-background-discovery-subtlest-pressed: #6B21A8;
  --color-background-discovery-bold: #C084FC;
  --color-background-discovery-bold-hovered: #D8B4FE;
  --color-background-discovery-bold-pressed: #E9D5FF;
  --color-background-selected-subtlest: #172554;
  --color-background-selected-subtlest-hovered: #1E3A8A;
  --color-background-selected-subtlest-pressed: #1E40AF;
  --color-background-selected-bold: #60A5FA;
  --color-background-selected-bold-hovered: #93C5FD;
  --color-background-selected-bold-pressed: #BFDBFE;
  --color-background-input: #1F1F21;
  --color-background-input-hovered: #242528;
  --color-background-input-pressed: #1F1F21;
  --color-background-disabled: #BDBDBD0A;
  --color-background-accent-red-default: #DC2626;
  --color-background-accent-red-default-hovered: #EF4444;
  --color-background-accent-red-default-pressed: #F87171;
  --color-background-accent-red-subtlest: #450A0A;
  --color-background-accent-red-subtlest-hovered: #7F1D1D;
  --color-background-accent-red-subtlest-pressed: #991B1B;
  --color-background-accent-red-subtler: #7F1D1D;
  --color-background-accent-red-subtler-hovered: #991B1B;
  --color-background-accent-red-subtler-pressed: #B91C1C;
  --color-background-accent-red-subtle: #B91C1C;
  --color-background-accent-red-subtle-hovered: #DC2626;
  --color-background-accent-red-subtle-pressed: #EF4444;
  --color-background-accent-red-bold: #F87171;
  --color-background-accent-red-bold-hovered: #FCA5A5;
  --color-background-accent-red-bold-pressed: #FECACA;
  --color-background-accent-orange-default: #EA580C;
  --color-background-accent-orange-default-hovered: #F97316;
  --color-background-accent-orange-default-pressed: #FB923C;
  --color-background-accent-orange-subtlest: #431407;
  --color-background-accent-orange-subtlest-hovered: #7C2D12;
  --color-background-accent-orange-subtlest-pressed: #9A3412;
  --color-background-accent-orange-subtler: #7C2D12;
  --color-background-accent-orange-subtler-hovered: #9A3412;
  --color-background-accent-orange-subtler-pressed: #C2410C;
  --color-background-accent-orange-subtle: #C2410C;
  --color-background-accent-orange-subtle-hovered: #EA580C;
  --color-background-accent-orange-subtle-pressed: #F97316;
  --color-background-accent-orange-bold: #FB923C;
  --color-background-accent-orange-bold-hovered: #FDBA74;
  --color-background-accent-orange-bold-pressed: #FED7AA;
  --color-background-accent-yellow-default: #CA8A04;
  --color-background-accent-yellow-default-hovered: #EAB308;
  --color-background-accent-yellow-default-pressed: #FACC15;
  --color-background-accent-yellow-subtlest: #422006;
  --color-background-accent-yellow-subtlest-hovered: #713F12;
  --color-background-accent-yellow-subtlest-pressed: #854D0E;
  --color-background-accent-yellow-subtler: #713F12;
  --color-background-accent-yellow-subtler-hovered: #854D0E;
  --color-background-accent-yellow-subtler-pressed: #A16207;
  --color-background-accent-yellow-subtle: #A16207;
  --color-background-accent-yellow-subtle-hovered: #CA8A04;
  --color-background-accent-yellow-subtle-pressed: #EAB308;
  --color-background-accent-yellow-bold: #FACC15;
  --color-background-accent-yellow-bold-hovered: #FDE047;
  --color-background-accent-yellow-bold-pressed: #FEF08A;
  --color-background-accent-lime-default: #65A30D;
  --color-background-accent-lime-default-hovered: #84CC16;
  --color-background-accent-lime-default-pressed: #A3E635;
  --color-background-accent-lime-subtlest: #1A2E05;
  --color-background-accent-lime-subtlest-hovered: #365314;
  --color-background-accent-lime-subtlest-pressed: #3F6212;
  --color-background-accent-lime-subtler: #365314;
  --color-background-accent-lime-subtler-hovered: #3F6212;
  --color-background-accent-lime-subtler-pressed: #4D7C0F;
  --color-background-accent-lime-subtle: #4D7C0F;
  --color-background-accent-lime-subtle-hovered: #65A30D;
  --color-background-accent-lime-subtle-pressed: #84CC16;
  --color-background-accent-lime-bold: #A3E635;
  --color-background-accent-lime-bold-hovered: #BEF264;
  --color-background-accent-lime-bold-pressed: #D9F99D;
  --color-background-accent-green-default: #16A34A;
  --color-background-accent-green-default-hovered: #22C55E;
  --color-background-accent-green-default-pressed: #4ADE80;
  --color-background-accent-green-subtlest: #052E16;
  --color-background-accent-green-subtlest-hovered: #14532D;
  --color-background-accent-green-subtlest-pressed: #166534;
  --color-background-accent-green-subtler: #14532D;
  --color-background-accent-green-subtler-hovered: #166534;
  --color-background-accent-green-subtler-pressed: #15803D;
  --color-background-accent-green-subtle: #15803D;
  --color-background-accent-green-subtle-hovered: #16A34A;
  --color-background-accent-green-subtle-pressed: #22C55E;
  --color-background-accent-green-bold: #4ADE80;
  --color-background-accent-green-bold-hovered: #86EFAC;
  --color-background-accent-green-bold-pressed: #BBF7D0;
  --color-background-accent-cyan-default: #2898BD;
  --color-background-accent-cyan-default-hovered: #42B2D7;
  --color-background-accent-cyan-default-pressed: #6CC3E0;
  --color-background-accent-cyan-subtlest: #1E3137;
  --color-background-accent-cyan-subtlest-hovered: #164555;
  --color-background-accent-cyan-subtlest-pressed: #206A83;
  --color-background-accent-cyan-subtler: #164555;
  --color-background-accent-cyan-subtler-hovered: #206A83;
  --color-background-accent-cyan-subtler-pressed: #227D9B;
  --color-background-accent-cyan-subtle: #227D9B;
  --color-background-accent-cyan-subtle-hovered: #2898BD;
  --color-background-accent-cyan-subtle-pressed: #42B2D7;
  --color-background-accent-cyan-bold: #6CC3E0;
  --color-background-accent-cyan-bold-hovered: #9DD9EE;
  --color-background-accent-cyan-bold-pressed: #C6EDFB;
  --color-background-accent-blue-default: #2563EB;
  --color-background-accent-blue-default-hovered: #3B82F6;
  --color-background-accent-blue-default-pressed: #60A5FA;
  --color-background-accent-blue-subtlest: #172554;
  --color-background-accent-blue-subtlest-hovered: #1E3A8A;
  --color-background-accent-blue-subtlest-pressed: #1E40AF;
  --color-background-accent-blue-subtler: #1E3A8A;
  --color-background-accent-blue-subtler-hovered: #1E40AF;
  --color-background-accent-blue-subtler-pressed: #1D4ED8;
  --color-background-accent-blue-subtle: #1D4ED8;
  --color-background-accent-blue-subtle-hovered: #2563EB;
  --color-background-accent-blue-subtle-pressed: #3B82F6;
  --color-background-accent-blue-bold: #60A5FA;
  --color-background-accent-blue-bold-hovered: #93C5FD;
  --color-background-accent-blue-bold-pressed: #BFDBFE;
  --color-background-accent-purple-default: #9333EA;
  --color-background-accent-purple-default-hovered: #A855F7;
  --color-background-accent-purple-default-pressed: #C084FC;
  --color-background-accent-purple-subtlest: #3B0764;
  --color-background-accent-purple-subtlest-hovered: #581C87;
  --color-background-accent-purple-subtlest-pressed: #6B21A8;
  --color-background-accent-purple-subtler: #581C87;
  --color-background-accent-purple-subtler-hovered: #6B21A8;
  --color-background-accent-purple-subtler-pressed: #7E22CE;
  --color-background-accent-purple-subtle: #7E22CE;
  --color-background-accent-purple-subtle-hovered: #9333EA;
  --color-background-accent-purple-subtle-pressed: #A855F7;
  --color-background-accent-purple-bold: #C084FC;
  --color-background-accent-purple-bold-hovered: #D8B4FE;
  --color-background-accent-purple-bold-pressed: #E9D5FF;
  --color-background-accent-magenta-default: #DB2777;
  --color-background-accent-magenta-default-hovered: #EC4899;
  --color-background-accent-magenta-default-pressed: #F472B6;
  --color-background-accent-magenta-subtlest: #500724;
  --color-background-accent-magenta-subtlest-hovered: #831843;
  --color-background-accent-magenta-subtlest-pressed: #9D174D;
  --color-background-accent-magenta-subtler: #831843;
  --color-background-accent-magenta-subtler-hovered: #9D174D;
  --color-background-accent-magenta-subtler-pressed: #BE185D;
  --color-background-accent-magenta-subtle: #BE185D;
  --color-background-accent-magenta-subtle-hovered: #DB2777;
  --color-background-accent-magenta-subtle-pressed: #EC4899;
  --color-background-accent-magenta-bold: #F472B6;
  --color-background-accent-magenta-bold-hovered: #F9A8D4;
  --color-background-accent-magenta-bold-pressed: #FBCFE8;
  --color-background-accent-gray-default: #63666B;
  --color-background-accent-gray-default-hovered: #7E8188;
  --color-background-accent-gray-default-pressed: #96999E;
  --color-background-accent-gray-subtlest: #1F1F21;
  --color-background-accent-gray-subtlest-hovered: #242528;
  --color-background-accent-gray-subtlest-pressed: #303134;
  --color-background-accent-gray-subtler: #242528;
  --color-background-accent-gray-subtler-hovered: #303134;
  --color-background-accent-gray-subtler-pressed: #4B4D51;
  --color-background-accent-gray-subtle: #4B4D51;
  --color-background-accent-gray-subtle-hovered: #63666B;
  --color-background-accent-gray-subtle-pressed: #7E8188;
  --color-background-accent-gray-bold: #96999E;
  --color-background-accent-gray-bold-hovered: #A9ABAF;
  --color-background-accent-gray-bold-pressed: #BFC1C4;
}
